<footer class="page-footer purple darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Made with Angular, Node.js and Express</h5>
        <p class="grey-text text-lighten-4">
          and CodeMirror editor
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © MIT
      <a
        class="grey-text text-lighten-4 right"
        href="https://github.com/sayantanm19"
      >
        More Projects
      </a>
    </div>
  </div>
</footer>